version: 2.1
executors:
  unity:
    parameters:
      unity_version: { type: string }
    docker:
      - image: gableroux/unity3d:<< parameters.unity_version >>
commands:
  unity_activation:
    parameters:
      unity_license: { type: string }
    steps:
      - checkout
      - run: openssl aes-256-cbc -d -base64 -A -in .circleci/Unity_v2020.x.ulf-cipher -k ${UNITY_KEY} >> .circleci/Unity_v2020.x.ulf -md md5
      - run: /opt/Unity/Editor/Unity -quit -batchmode -nographics -silent-crashes -logFile -manualLicenseFile .circleci/Unity_v2020.x.ulf || exit 0
      - run:
          command: /opt/Unity/Editor/Unity -quit -batchmode -nographics -silent-crashes -noUpm -logFile -projectPath CircleCi-Test -buildWindows64Player ./bin-win64/CISample.exe
      - run: apt-get update
      - run: apt-get install zip -y
      - run: zip -r CISampleWin64Binary.zip ./bin-win64
      - store_artifacts:
          path: ./CISampleWin64Binary.zip
          destination: ./CISampleWin64Binary.zip
  test-editmode:
    steps:
      - run:
          name: Edit mode test
          command: /opt/Unity/Editor/Unity -batchmode -nographics -projectPath . -runEditorTests -testPlatform editmode -editorTestsResultFile test-results/results.xml
      - store_artifacts:
          path: test-results/results.xml
  test-playmode:
    steps:
      - run:
          name: Build Linux(Mono)
          command: /opt/Unity/Editor/Unity -quit -batchmode -nographics -projectPath . -executeMethod UnitTestBuilder.BuildUnitTest /headless /ScriptBackend Mono2x /BuildTarget StandaloneLinux64
      - run:
          name: Play mode test
          command: bin/UnitTest/StandaloneLinux64_Mono2x/test
jobs:
  test-job:
    parameters:
      version: { type: string }
      license: { type: string }
    executor:
      name: unity
      unity_version: << parameters.version >>
    steps:
      - unity_activation: { unity_license: << parameters.license >> }
workflows:
  version: 2
  test-workflow:
    jobs:
      - test-job:
          version: 2020.1.13f1
          license: ${UNITY_LICENSE_2020}