version: 2.1
executors:
  unity:
    parameters:
      unity_version: { type: string }
    docker:
      - image: gableroux/unity3d:<< parameters.unity_version >>
commands:
  unity_activation:
    parameters:
      unity_license: { type: string }
    steps:
      - checkout
      - run: openssl aes-256-cbc -d -base64 -A -in .circleci/Unity_v2019.x.ulf-cipher -k ${KEY} >> .circleci/Unity_v2019.x.ulf -md md5
      - run: /opt/Unity/Editor/Unity -quit -batchmode -nographics -silent-crashes -logFile -manualLicenseFile .circleci/Unity_v2019.x.ulf || exit 0
  test-editmode:
    steps:
      - run:
          name: Edit mode test
  test-playmode:
    steps:
      - run:
          name: Build Linux(Mono)
          command: /opt/Unity/Editor/Unity -quit -batchmode -nographics -projectPath . -executeMethod UnitTestBuilder.BuildUnitTest /headless /ScriptBackend Mono2x /BuildTarget StandaloneLinux64
      - run:
          name: Play mode test
          command: bin/UnitTest/StandaloneLinux64_Mono2x/test
jobs:
  test-job:
    parameters:
      version: { type: string }
      license: { type: string }
    executor:
      name: unity
      unity_version: << parameters.version >>
    steps:
      - unity_activation: { unity_license: << parameters.license >> }
      - test-editmode
      - test-playmode
workflows:
  version: 2
  test-workflow:
    jobs:
      - test-job:
          version: 2019.1.14f1
          license: ${UNITY_LICENSE_2019}